body{
    box-sizing: border-box;
    height: 100vh;  /* full screen height*/
    background-color: white;
    width: 60%;
    margin: auto;
    padding: 100px;
    
}
.grid-wraper{
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-between;
}
.line{
    height: 2px;
    width: 100px;
    background-color: #634495;
}
.grid-wraper img{
    height: auto;
}

.grid-content h1{
    text-align: left;
    font-size: 60px;
    font-weight: 100;
    color: black;
    margin-bottom: 0;
}
.grid-content h2{
    font-size: 50px;
    color: black;
    letter-spacing: 2px;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 20px;

}
.grid-content p{
    columns: 1 250px;
    font-size: 15px;
    color: #5F5F5F;
    margin-top: 10px;
    margin-bottom: 50px;
}
.grid-content a{
    background-color: white;
    padding: 10px 40px;
    border-radius: 20px;
    border: 2px #634495 solid;
    color: #634495;
    text-decoration: none;
    
}
.grid-content a.button{
 background-color: #634495; color: white;
 margin-right: 20px;
}

.grid-header {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.grid-header a.logo{
    font-size: 20px;
    font-weight: 900;
    color: black;
}
.grid-header nav{
    display: flex;
    gap: 30px;
}
.grid-header a{
    
    align-items: center;
    font-size: 10px;
    font-weight: lighter;
    color: black;
    text-decoration: none;
    word-spacing: 50px;

}
.grid-footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

}
.grid-footer h6{
    font-size: 10px;
    font-weight: lighter;
    color: grey;

}
.grid-footer a{
    align-items: center;
    font-size: 10px;
    font-weight: lighter;
    text-decoration: none;
}
